@use "../../styles/colors/tokens" as tokens; 

.main{
    width: 100vw;
    height: calc(100vh - tokens.$large-padding);
    color: tokens.$white;
    & h2{
      margin-left: tokens.$large-padding;
      margin-top:  tokens.$medium-padding;
      animation: left_to_right 1s ease;
    }
}
@keyframes left_to_right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}