//Div colors

$hotpink: #EF7C8E;
$cream: #FAE8E0;
$antiquete: #FABDE7;
$antiquetewhite: #faebd7;
$spearmint: #B6E2D3;
$rosewater: #D8A7B1;

//Font color

$black: #333333;
$white: #dddddd;


//Spacing
$small-padding: 1rem;
$medium-padding: 5rem;
$large-padding: 10rem;