@use "../../styles/colors/tokens" as tokens;
.container{
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(1.5 * tokens.$small-padding);
  width: 3rem;
  padding-left: tokens.$small-padding;
  background-color: tokens.$white;
  border-top-left-radius: 25px;
}