@use "./styles/colors/_tokens" as tokens; 

body {
  overflow-x: hidden;
  background-image: url("~/src/imgs/anete-lusina-zwsHjakE_iI-unsplash-modified.jpg");
  background-size: contain;
  color: tokens.$white;
}

